.list {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price {
  color: tomato;
}
.btn {
  border: 1px solid purple;
  padding: 0.5rem;
}
.header {
  display: flex;
  justify-content: space-between;
}